body{
	margin: 0;
	padding: 0;
	font-family: "share tech mono", "Book Antiqua", 'Palatino', serif;
}

img{
	position: fixed;
	top: -50px;
	margin: 0;
	padding: 0;
	height: 120%;
	  filter: blur(2px);
  -webkit-filter: blur(1px);
}

#calculator{
	position: relative;
	z-index: 5;
	left: center;
	padding: 4px;
	width: 25%;
	margin: auto;
	opacity: 0.95;
	border:5px groove #999ce3;
	border-radius: 20px;
	background-color :rgba(100, 100, 100, 0.6);
}

h1, h2{
	margin: 0;
	position: relative;
	padding: 0;
	font-size: 50px;
	text-align: center;
	color: rgba(83,84,103,1);
	font-family: 'bungee';
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #eee;
}

p{
	width: 80%;
	margin: auto;
	font-size: 22px;
	color: white;
	text-align: center;
	line-height: 35px;
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: wheat;
}

#credits_container, #about_container{
	top: 22%;
	left: 20%;
	right: 20%;
	bottom: 20%;
	height: 600px;
	width: 40%;
	position: absolute;
	z-index: 00;
	margin: auto;
	float: center;
	display: inline;
		opacity: 0.95;
	border:5px groove #999ce3;
	border-radius: 20px;
	background-color :rgba(100, 100, 100, 0.6);
}

h2 {
	font-size: 40px;
}

.flex{
	display: flex;
}

.btn{
    font-size:35px;
    padding:15px;
    margin: 1px;
    border: 2px solid;
	width: 100px;
	text-align: center;
	background: linear-gradient(36deg, rgba(203,204,223,1) 0%, rgba(121,124,153,1) 100%);
	color: black;
	text-align: center;
	border-radius: 10px;
	flex: 1 1 auto;
	
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.animation:hover {
	background: rgb(182,182,182);
	background: radial-gradient(circle, #999ce3 0%,
	rgba(255,255,255,1) 35%, #602ce3 100%);
	cursor: pointer;
}

#normal_btn.btn, #acum_btn.btn, #about_btn.btn, #credits_btn, #return_btn {
	font-size: 25px;
}

#acum_btn{
	cursor: auto;
	border: 2px solid red;
}

#equal_btn{
	opacity: 0.5;
}

#equal_btn:hover {
	cursor: auto;
}

#return_btn{
	position: relative;
	width: 80px;
	margin: auto;              /* new */
	cursor: pointer;
}

#div_10{
	clear: both;
}

/*#open_parenthesis, #close_parenthesis {
	width: 115px;
	flex: 0 0 auto;
}*/

#screen{
	width: auto;
	text-align: right;
    font-size:40px;
	padding: 5px;
	margin-bottom: 15px;
    border: 2px solid;
    border-top: 0px;
	background: linear-gradient(180deg, rgba(246,204,49,1) 0%, rgba(143,121,54,1) 90%);
	border-radius: 0 0 10px 10px;
}

#top_screen{
	font-size: 10px;
	text-align: right;
    font-size:30px;
    padding:10px 25px;
    border: 2px solid;
    border-bottom: 0px;
	background: linear-gradient(0deg, rgba(246,204,49,1) 0%, rgba(143,121,54,1) 90%);
	border-radius: 10px 10px 0 0;
}

.animation:active{
	background: rgb(18,35,240);
	background: radial-gradient(circle, rgba(18,35,240,1) 0%,
	rgba(140,202,213,1) 35%, rgba(59,85,219,1) 100%);
}

.hide{
	opacity: 0!important;
	cursor: auto!important;
}
